<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!--script src="angular.min.js"></script-->
<style> .in-edit { background-color: lightgreen;  } </style>
<head></head>
<body>
<h1>TV Sitter</h1>
<div ng-app="main" ng-controller="mainCtrl">
<h2>Status</h2>
<h2>Rules</h2>
<table>
<th>Nr</th><th>Start</th><th>End</th><th>Channel Group</th><th>Action</th><th></th>
<tr ng-repeat="x in rules" ng-click="edit($index)" ng-class="editing && editIndex == $index ? 'in-edit' : ''">
<td >{{$index + 1}}</td><td >{{toTime(x.start)}}</td><td >{{toTime(x.end)}}</td><td >{{x.channelGroup}}</td><td >Switch {{x.action}}</td>
<td ><button ng-click="edit($index)">edit</button><button ng-click="delete($index)">delete</button></td>
</tr>
</table>

<button ng-click="add()">Add new Rule</button>

<div id="overlay" ng-if="editing">
	<h3>Edit Rule Nr.: {{editIndex + 1}}</h3>
	<div>
	<form ng-submit="finishEdit()">
		<div>Start: <input type="time" ng-model="rules[editIndex].start"></div>
		<div>End: <input type="time" ng-model="rules[editIndex].end"></div>
		<div><label>restrict to channel group
		<select ng-model="rules[editIndex].channelGroup">
				<option>none</option>
				<option>group 1</option>
				<option>group 2</option>
			</select>
		</label></div>
		<div><label>action: switch 
			<select ng-model="rules[editIndex].action">
				<option>to allowad</option>
				<option>to different source</option>
				<option>off</option>
			</select>
		</label></div>
		<br/>
		<input type="submit" value="OK">
	</form>
	</div>

</div><!-- overlay -->

<script>
var app = angular.module('main', []);
app.controller('mainCtrl', function($scope, $http) {
	$scope.editing = false;

	$scope.edit = function(index) {
		$scope.editing = true;
		$scope.editIndex = index;
	}
	
	$scope.finishEdit = function() {
		$scope.editing = false;
	}
	
	$scope.delete = function(index) {
		$scope.rules.splice(index,1);
	}
	
	$scope.add = function() {
		$scope.editing = true;
		$scope.editIndex = $scope.rules.length;
		$scope.rules.push({"start": toDate("12:00"), "end": toDate("14:00")});
	}
	
	$scope.toTime = function(time) {
		return time.getHours() + ":" + time.getMinutes();
	}

	$scope.saveSettings = function(settings){
		$http.put("http://a.b/TV-Sitter-save.lua", {"key": "TV-Sitter-Rules.json", "value": settings });
		alert("saved");
	}
	
    $http.get("http://a.b/TV-Sitter-Rules.json")
    .then(function(response) {
        //First function handles success
		$scope.rules = response.data;
		$scope.rules = replaceTimesToDates($scope.rules);
    }, function(response) {
        //Second function handles error
		$scope.rules = [
	{
		"start": "1:12",
		"end": "2:00",
		"channelGroup": "Kinder",
		"action": "off"
	},
	{
		"start": "12:12",
		"end": "12:12",
		"channelGroup": "none",
		"action": "to different Source"
	},
	{
		"start": "12:12",
		"end": "13:13",
		"channelGroup": "Guest",
		"action": "to allowed"
	}
];
		$scope.rules = replaceTimesToDates($scope.rules);
        $scope.content = "Something went wrong";
    });
}); 

function replaceTimesToDates(rules) {
	for (i = 0; i < rules.length; i++) {
		rules[i].start = toDate(rules[i].start);
		rules[i].end = toDate(rules[i].end);
	} 
	return rules;
}

function toDate(time) {
	var theDate = new Date();
	time = time.split(":");
	theDate.setHours(time[0], time[1], 0, 0);
	return theDate;
}

</script> 
</div>

</body>
</html>
